<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="back link">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">${user.firstName} ${user.lastName}</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block block-strong">
        ${user.about}
      </div>
      <div class="list links-list">
        <ul>
          ${user.links.map((link) => $h`
            <li><a class="external" target="_blank" href="${link.url}">${link.title}</a></li>
          `)}
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
  export default (props) => {
    const user = props.user;

    return $render;
  }
</script>
