/* Your app custom styles here */
:root {
  --custom-color: #EE350F;
  --color-green: #4cd964;
  --f7-list-button-text-color: var(--f7-theme-color);
  --f7-page-bg-color: #efeff4;
  --f7-list-button-text-align: center;
  --f7-list-border-color: transparent;
  --f7-block-strong-border-color: transparent;
  --f7-navbar-large-title-font-size: 29px;
  --f7-progressbar-bg-color: rgba(255,255,255,0.2);
  --f7-progressbar-progress-color: #fff;
}
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--custom-color);
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-searchbar-input-bg-color: #fff;
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.center-content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.title-large {
  justify-content: center;
}
.title-large-text {
  max-width: 800px;
}
.block-title {
  white-space: normal;
}
.block.theme-dark {
  color: #fff;
}
pre {
  white-space: pre-wrap;
  word-break: break-all;
  font-weight: bold;
}
.button.loading .icon {
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}